 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   width: 100%;
}
.logo {
   width: 140px;
}

.nav-items > ul {
   display:flex;
   justify-content:end;
   width: 100%;

   
}
.nav-items > ul > li {
   padding: 0 20px;
   margin: 15px;
   list-style-type: none;
   font-size: medium;
   color:  #964346;
   font-weight:500;
   cursor: pointer;

   
}
.res-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 40px 10px;

}
.res-card {
   width: 220px;
   height: 300px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   background-color: hsl(0, 45%, 98%);
   

}
.res-card > h3, h4, h5, h6 {
   padding: 5px;
}
.res-card >  h6 {
   color: gray;
}
.res-card > h4 {
   color: green;
}

.res-card:hover {
   border: 1px solid rgba(152, 144, 144, 0.83);
   cursor: pointer;
   
}
.search {
   margin: 20px;
}
.res-logo {
   width: 100%;
   height: 150px;
}
.filter {
   display: flex;
}
.filter-btn {
   padding: 5px;
   border-radius: 5px;
   margin: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border: none;
   cursor: pointer;
}
.filter-btn:hover {
   border: 1px solid rgb(141, 66, 66);
}
.shimmer-container{
   display: flex;
}
.shimmer-card {
   width: 200px;
   height: 400px;
}
.login {
   width: 30%;
   padding: 0px 20px;
   border: none;
   background-color: none;
   cursor: pointer;

}
.search {
   padding: 5px;
   border-radius: 5px;
   margin: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border: none;
   width: 25%;
 
}
.search input {
   border: none;
   
}
.search  button {
   border: none;
   margin-left: 110px;
}
.search input:focus {
   outline: none;
}